<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="/css/help.css">

</head>

<body>
    <header>
        <h1>Help</h1>
    </header>

    <div>
        <a href="/home">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <p>Some Useful Information</p>
    <footer>
        <p>Created by Subathra</p>
    </footer>

</body>

</html>